version: "3.9"

services:
  academy-backend.api:
    image: uriteam/urisvc:academybackenddev
    container_name: academy-backend.api
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=3000
      - HTTP_PORT=3000
      - HTTPS_PORT=3443
    # restart: always
    deploy:
      restart_policy:
        condition: any
        delay: 45s
        max_attempts: 5
        window: 120s
    ports:
      - "8004:3000"
      - "8448:3443"
    volumes:
      - /etc/letsencrypt/live/api.uricreative.com:/certs:ro
    networks:
      - uritest-network
    depends_on:
      - academy-db
      - academy-redis

  academy-redis:
    image: redis:alpine
    container_name: academy-backend.redis
    restart: always
    networks:
      - uritest-network

  academy-db:
    image: postgres:16-alpine
    container_name: academy-backend.db
    environment:
      POSTGRES_USER: uri
      POSTGRES_PASSWORD: uri
      POSTGRES_DB: uri
    restart: always
    ports:
      - "5433:5432"
    networks:
      - uritest-network
    volumes:
      - academy_postgres_data:/var/lib/postgresql/data

networks:
  uritest-network:
    external: true

volumes:
  academy_postgres_data:
