version: '3.9'
services:
  api:
    build: ..
    env_file:
      - ./api.env
    ports:
      - '3000:3000'
    depends_on:
      - db
      - redis
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: uri
      POSTGRES_PASSWORD: uri
      POSTGRES_DB: uri
    ports:
      - '5432:5432'
  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
